Arona-winter-course
_site/
Gemfile.lock
apuntes-ull-esit-1617
ull-esit-1617
jewels

dsi-1819
pl1819

tema1-introduccion/practicas/p3-t1-c3-http/a-public-space-on-the-web-KevMCh
tema1-introduccion/practicas/p3-t1-c3-http/chapter20-node-js-crguezl
tema1-introduccion/practicas/p3-t1-c3-http/eval/
tema1-introduccion/practicas/p3-t1-c3-http/nodejs-KevMCh

tema3-web/web_workers
tema3-web/websockets

tema3-web/practicas/p8-t3-sessions-and-modules/modulo-npm
tema3-web/practicas/p8-t3-sessions-and-modules/pl1718-solutions
tema3-web/practicas/p8-t3-sessions-and-modules/practicas-1617
tema3-web/practicas/p8-t3-sessions-and-modules/cookies/
tema3-web/practicas/p8-t3-sessions-and-modules/ull-esit-pl-auth-module
tema3-web/practicas/p8-t3-sessions-and-modules/resources/
tema3-web/practicas/p8-t3-sessions-and-modules/my-todolist-reto
tema3-web/practicas/p8-t3-sessions-and-modules/eval/

tema3-web/practicas/p9-t3-transforming-data/ca1819-transforming-data
tema3-web/practicas/p9-t3-transforming-data/transforming-data-and-testing-continuously-chapter-5
tema3-web/practicas/p9-t3-transforming-data/eval/

tema3-web/practicas/p10-t3-commanding-databases/ca1819-marre-ivan
tema3-web/practicas/p10-t3-commanding-databases/ca1819-practicas
tema3-web/practicas/p10-t3-commanding-databases/commanding-databases-chapter-6
tema3-web/practicas/p10-t3-commanding-databases/sol-nodejs-the-right-way
tema3-web/practicas/p10-t3-commanding-databases/eval/
tema3-web/practicas/p10-t3-commanding-databases/crguezl-commanding-databases

tema3-web/practicas/p11-t3-restful/crguezl-restful
tema3-web/practicas/p11-t3-restful/ivan-restful
tema3-web/practicas/p11-t3-restful/marrea-restful
tema3-web/practicas/p11-t3-restful/sol-nodejs-the-right-way
tema3-web/practicas/p11-t3-restful/eval/

tema3-web/practicas/p8-t3-sessions-and-modules/evaluar-manejo-de-cookies-y-sessions-en-expressjs-alu0100825510

tema3-web/practicas/p12-tfa-user-experience/eval/


tema3-web/practicas/p11-t3-restful/README.tex
tema3-web/practicas/p5-t3-websockets/README.tex
tema3-web/practicas/p9-t3-transforming-data/reto.tex




tema4-graphql/learning-graphql

tfa