<nav>
    <li><a href="{{site.baseurl}}/search" title="search">&#x1F50D;</a></li>
    <!--
    <li><a href="#sytwstoc" title="Table of Contents">≡</a></li>
    -->

    {% if page.previous.visible %}  
    <li><a href="{{page.previous.url}}" title="Previous">&#x2190;</a></li>
    {% endif %}
    {% if page.next.visible %}
    <li><a href="{{page.next.url}}" title="Next">&#x2192;</a></li>
    {% endif %}
    <li><a href="{{site.repo_url_master}}/{{page.path}}" title="Edit this page at GitHub">🐙</a>
    
    <li><a href="{{site.baseurl}}/references.html" title="Bibliografía">&#x1f4da</a></li>
    <li><a href="{{site.baseurl}}/practicas.html" title="Prácticas">&#x270d</a></li>
    
    <li><a href="{{site.baseurl}}/clases.html" title="Clases">👨‍🏫</a></li>

    <li><a href="{{site.baseurl}}/" title="Home page">&#x1f3e0</a></li>
    <li><a href="{{site.baseurl}}/tema0-presentacion/" title="Tema 0: Presentación">0</a></li>
    <li><a href="{{site.baseurl}}/tema1-introduccion/" title="Tema 1: Introducción">1</a></li>
    <li><a href="{{site.baseurl}}/tema2-async/" title="Tema 2: Async">2</a></li>
    <li><a href="{{site.baseurl}}/tema3-web/" title="Tema 3: Web">3</a></li>
    <li><a href="{{site.baseurl}}/tema4-devops/" title="Tema 4: Devop">4</a></li>
    {% if site.show_downloads %}
    <li class="downloads"><a href="{{ site.github.zip_url }}">ZIP</a></li>
    <li class="downloads"><a href="{{ site.github.tar_url }}">TAR</a></li>
    <li class="title">DOWNLOADS</li>
    {% endif %}
</nav>
