--- 
---
<div id="title">
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <p> {{ site.description | default: site.github.project_tagline }}</p>
        <hr>
        <span class="credits left">Organization <a href="{{ site.organization.url }}" target="_blank">{{ site.organization.name }}</a></span>
        <span class="credits left"> &nbsp; Classroom <a href="{{ site.classroom.url }}" target="_blank">{{ site.classroom.name }}</a></span>
        <span class="credits left"> &nbsp; Campus Virtual <a href="{{site.campus_virtual}}" target="_blank">SYTWS</a></span>
        <span class="credits left"> &nbsp; Chat <a href="{{site.chat}}" target="_blank">Chat</a></span>
        <span class="credits left"> &nbsp; Profesor <a href="{{site.profesor}}" target="_blank">Casiano</a></span>
    </div>

<!--

<div id="title">
    <h1>{{ site.title | default: site.github.repository_name }}</h1>
    <p> {{ site.description | default: site.github.project_tagline }}</p>
    <hr>
    <span class="credits left">Organization <a href="{{ site.github.owner_url }}"
            target="_blank">{{ site.github.owner_name }}</a></span>
    <span class="credits left"> &nbsp; Github Classroom <a
            href="https://classroom.github.com/classrooms/55384072-master-de-ingenieria-informatica-sistemas-y-tecnologias-web-servidor-classroom"
            target="_blank">SYTWS 19/20</a></span>
    <span class="credits left"> &nbsp; Campus Virtual <a
            href="https://campusvirtual.ull.es/1920/course/view.php?id=201913778" target="_blank">SYTWS
            19/20</a></span>
    <span class="credits left"> &nbsp; Profesor <a
            href="https://www.ull.es/apps/guias/guias/view_teacher_niu/588/(%3FPcrguezl.*)/"" target="
            _blank">Casiano</a></span>
</div>
-->    
