<!doctype html>
<html lang="{{ site.lang | default: " en-US " }}">

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/favicon.ico?">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

</head>

<body>
    <div id="header">
        {% include navigation-bar %}
    </div>
    <!-- end header -->


    <div class="wrapper">

        <section>
            <div id="title">
                <h1>{{ site.title | default: site.github.repository_name }}</h1>
                <p> {{ site.description | default: site.github.project_tagline }}</p>
                <hr>
                <span class="credits left">Organization <a href="{{ site.github.owner_url }}" target="_blank">{{ site.github.owner_name }}</a></span>
                <span class="credits left"> &nbsp; Github Classroom <a href="{{site.classroom}}" target="_blank">{{site.acronimo_curso}}</a></span>
                <span class="credits left"> &nbsp; Campus Virtual <a href="{{site.campus_virtual}}" target="_blank">{{site.acronimo_curso}}</a></span>
                <span class="credits left"> &nbsp; Profesor <a href="{{site.profesor}}" target="_blank">{{site.profesor_name}}</a></span>
            </div>


            {{ content }}

            <div class="wrapper">
                <b><a href="{{page.previous.url}}">Lección Anterior &#x2190;</a></b>
                <b><a href="{{page.next.url}}">Siguiente Lección &#x2192;</a></b>    
            </div>
            
            <details>
                <summary>
                        <h2>Table of Contents</h2>
                </summary>
                {% include toc.html html=content %}
            </details>
           <details>
               <summary>
                   <h2>Your Comments</h2>
               </summary>
               {% include disqus.html %}
           </details>   
            
        </section>
    
    </div>


    {% if site.google_analytics %}
    <script type="text/javascript">
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
    {% endif %}
</body>

</html>
